.c-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Shlop';
    color: #00AFC8;

    &__input{
        border: solid 3px #00AFC8;
        border-radius: 10px;
        width: 75%;
        height: 28px;
    }
    &__last{
        display: flex;
        justify-content: center;
        font-family: 'Shlop';
        color: #00AFC8;
        font-size: 25px;
        align-items: center;
        margin-top: 20px;

        &__input{
            width: 5%;
            height: 20px;
        }

        span{
            color: red;
            font-size: 18px;
        }
    }
    span{
        color: red;
        font-size: 18px;
    }
}

.c-btn{
    border: 6px solid #00AFC8;
    border-radius: 12px;
    width: 25%;
    height: 34px;
    background-color: white;
    font-family: 'Shlop';
    color: #00AFC8;
}