<form  [formGroup]="contactForm" (ngSubmit)="submitForm()">
    
    <div class="c-contact">
        <label for="name">Name</label> 
        <input class="c-contact__input" id="name" formControlName="name" type="text">
        <span *ngIf="submitted && contactForm.controls.name.errors">4 caracters</span>
    </div>

    <div class="c-contact">
        <label for="email">Email</label> 
        <input class="c-contact__input" id="email" formControlName="email" type="text">
        <span *ngIf="submitted && contactForm.controls.email.errors">not an email</span>
    </div>

    <div class="c-contact">
        <label for="message">Mensaje</label> 
        <textarea class="c-contact__input" formControlName="message" type="text"></textarea>
        <span *ngIf="submitted && contactForm.controls.message.errors">min 8 caracters</span>
    </div>
    
    <div class="c-contact__last">
        <label for="check">Are you a Human?</label> 
        <input class="c-contact__last__input" id="check" type="checkbox" formControlName="check">
        <span *ngIf="submitted && contactForm.controls.check.errors"> click here </span>
    </div>

    <input class="c-btn" type="submit" value="Enviar">
</form>
