<section>
    <!-- <h1>WUBBA LUBBA DAB DAB</h1> -->
    <img class="imgHome" src="../../../assets/img/rick-wallpaper.jpg" alt="">
    <!-- <div class="container">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="border"></div>
        <div class="border"></div>
    </div>
    <svg>
        <defs>
            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" />
                <feColorMatrix in="name" mode="matrix" values="1 0 0 0 0
                        0 1 0 0 0
                        0 0 1 0 0
                        0 0 0 30 -15" />
                <feBlend in="SourceGraphic" />
            </filter>
        </defs>
    </svg> -->

</section>
