h1{
    font-family: 'Shlop';
    font-size: 100px;
    text-align: center;
    color: #00AFC865;
    position: absolute;
}
.imgHome{
    width: 100%;
    border-radius: 10px;
    border: solid 5px #00AFC8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// section {
//     background-color: white;
//     height: 50vh;
//     border-radius: 24px;
//     box-shadow: 10px 10px;
//     color: #00AFC8;
//     display: flex;
//     justify-content: center;
//     align-items: center;

// }

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    filter: url(#goo);
}

.particle {
    width: 100px;
    height: 100px;
    top: -20%;
    background-color: #00AFC8;
    position: absolute;
    border-radius: 50%;
    animation: fall 15s infinite;
}

@keyframes fall {
    0% {
        top: -20%;
    }
    20% {
        top: 0%;
    }
    80% {
        top: 85%;
    }
    100% {
        top: 100%;
    }
}

.particle:nth-of-type(2n) {
    background-color: #00AFC8;
    width: 60px;
    height: 60px;
}

.particle:nth-of-type(3n) {
    background-color: #00AFC8;
    width: 120px;
    height: 120px;
}

.particle:nth-of-type(1) {
    color: #00AFC8;
    left: 30%;
    animation-delay: 1s;
}

.particle:nth-of-type(2) {
    left: 60%;
    animation-delay: 2s;
}

.particle:nth-of-type(3) {
    left: 25%;
    animation-delay: 3s;
}

.particle:nth-of-type(4) {
    left: 75%;
    animation-delay: 4s;
}

.particle:nth-of-type(5) {
    left: 35%;
    animation-delay: 5s;
}

.particle:nth-of-type(6) {
    left: 50%;
    animation-delay: 6s;
}

.particle:nth-of-type(7) {
    left: 65%;
    animation-delay: 7s;
}

.particle:nth-of-type(8) {
    left: 35%;
    animation-delay: 8s;
}

.particle:nth-of-type(9) {
    left: 55%;
    animation-delay: 9s;
}

.particle:nth-of-type(10) {
    left: 55%;
    animation-delay: 10s;
}

.particle:nth-of-type(11) {
    left: 35%;
    animation-delay: 11s;
}

.particle:nth-of-type(12) {
    left: 50%;
    animation-delay: 12s;
}

.particle:nth-of-type(13) {
    left: 65%;
    animation-delay: 13s;
}

.particle:nth-of-type(14) {
    left: 40%;
    animation-delay: 14s;
}

.particle:nth-of-type(15) {
    left: 60%;
    animation-delay: 15s;
}

.border {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 10%;
}

.border:nth-last-of-type(1) {
    top: 0;
    left: 0;
}

.border:nth-last-of-type(2) {
    bottom: 0;
    left: 0;
}