<div class="detailsDiv" *ngIf="characterInfo">
    <h1>{{characterInfo.name}}</h1>
    <img src="{{characterInfo.image}}" alt="">
    <div class="d-flex">
        <p class="p">{{characterInfo.gender}}</p>
        <p class="p">{{characterInfo.status}}</p>
        <p class="p">{{characterInfo.species}}</p>
    </div>
    
    

    <!-- <p>{{45 | multiply}}</p> -->
</div>
