.detailsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #00AFC8;
    font-size: 20px;
    img{
        border: 9px solid #00AFC8;
    }
}


.p{
    margin:10px;
}


