<!-- <label class="characterLabel" for="search">Search</label> -->
<input class="characterInput" id="search"  [(ngModel)]="find">
<button class="characterButton" (click)="getElement(find, actualPage)" >Search</button>

<app-gallery [list]="characters"></app-gallery>

<button (click)="getElement(find, actualPage - 1)"> < </button>
{{actualPage}}
<button (click)="getElement(find, actualPage + 1)"> > </button>

