.characterLabel{

}
.characterInput{
    border: solid 3px #00AFC8;
    border-radius: 10px;
    margin-bottom: 10px;
}
.characterButton{
    border: 3px solid #00AFC8;
    border-radius: 12px;
    background-color: white;
    font-size: 16px;
    font-family: 'Shlop';
    color: #00AFC8;
}