
<div clas="c-gallery d-flex justify-content-center">
    <div class="row">
        <div class=" card col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let item of list" >
            <button class="c-gallery__btn" (click)="favoriteItems(item)">AÑADIR</button>
            <img routerLink="/characters/{{item.id}}"  class="c-gallery__img" src="{{item.image ? item.image : '../../../assets/img/Planet.png'}}" alt="{{item.name}}">
            <p class="c-gallery__text">{{item.name | priorityName: 'Rick' : '**'}}</p>
        </div>
    </div> 
</div> 
