.c-gallery{

    &__btn{
        background-color: white;
        border-radius: 10px;
        border: solid #00AFC8;
        font-family: 'Shlop';
        font-size: 17px;
        width: 100px;
        color: #00AFC8;
        position: absolute;
        bottom: 43px;
        right: 27px;
    }
    &__img{
        border: 10px solid #00AFC8;
    }
    &__text{
        font-size: 18px;
        margin: 0;
        margin-bottom: 5px;
        text-align: center;
        font-family: 'Shlop';
        color: #00AFC8;
    }
}
.card{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}