<nav class=" d-flex justify-content-center">
    <a class="nav__link" routerLink="" routerLinkActive="nav__link--active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
    <a class="nav__link" routerLink="characters" routerLinkActive="nav__link--active">CHARACTER</a>
    <a class="nav__link" routerLink="locations" routerLinkActive="nav__link--active">LOCATIONS</a>
    <a class="nav__link" routerLink="favorites" routerLinkActive="nav__link--active">FAVORITES</a>
    <a class="nav__link" routerLink="contact" routerLinkActive="nav__link--active">CONTACT</a>
</nav>
